.top-header
{
    background-color: #9A616D;
}

.icon1
{
    color: #ff6219;
}

.heading5
{
    letter-spacing: 1px;
}
.login-img
{
    border-radius: 1rem 0 0 1rem;
}
.signup-account
{
    color: #393f81;
}
.card1
{
    border-radius: 10%;
}